funani.cfg
obj
bin
*.Cache
__pycache__
*~
/python/venv
/src/*.suo
/src/*.vsp
/src/*.psess
/src/*.user
/src/packages/
/src/packages/AvalonDock.*
/src/packages/Catel.*
/src/packages/Fody.*
/src/packages/FluentMongo.*
/src/packages/ImageProcessor.*
/src/packages/log4net.*
/src/packages/MongoDB.*
/src/packages/mongocsharpdriver.*
/src/packages/MongoRepository.*
/src/packages/NUnit*
/src/packages/OxyPlot.*
/src/packages/PropertyTools.*
/src/packages/WPFToolkit*
/src/packages/NuGet.CommandLine.*
