[database]

# Path to the database directory
#  .media > contains actual files in a CAS manner
#  .meta  > contains the associated metadata in a human readable fashion
path = /home/jaap/Dokumente/Projekte/Funani/database

# Planned: Sqlite database for the metadata
metadb = funani_meta.db

# After how many days a verification is re-run on a file
# Below this limit verification is skipped unless --force is
# used
verify-limit = 60

# automatically use reflinks for paths beginning with
auto-reflink = /home/data

