<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Funani.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Funani.Gui.Properties.Settings>
            <setting name="LastDirectoryExplorerSelectedPath" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="LastFunaniDatabase" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="MongodbPath" serializeAs="String">
                <value>
                </value>
            </setting>
        </Funani.Gui.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.20" newVersion="1.8.1.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.20" newVersion="1.8.1.20" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>