<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Funani.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <userSettings>
    <Funani.Gui.Properties.Settings>
      <setting name="LastDirectoryExplorerSelectedPath" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="LastFunaniDatabase" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="MongodbPath" serializeAs="String">
        <value>
        </value>
      </setting>
    </Funani.Gui.Properties.Settings>
  </userSettings>

  <log4net>
    <!-- Rolling file (actual log file) -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${USERPROFILE}\Funani\Funani.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Application start]" />
        <footer value="[Application end]" />
        <conversionPattern value="%date - %-5level - %logger - %message%newline" />
      </layout>
    </appender>

    <!-- Trace -->
    <!--appender name="TraceAppender"
		          type="log4net.Appender.TraceAppender, log4net">
		  <layout type="log4net.Layout.PatternLayout">
		    <conversionPattern value="%date - %message%newline" />
		  </layout>
		</appender-->

    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <!-- Level can be FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
      <!--appender-ref ref="TraceAppender" /-->
    </root>
  </log4net>

  <!-- Diagnostics settings, redirect traces to log4net -->
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="Log4NetTraceListener" type="Funani.Gui.Logging.Log4NetTraceListener, Funani.Gui" />
      </listeners>
    </trace>
  </system.diagnostics>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.2.34" newVersion="1.8.2.34" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.2.34" newVersion="1.8.2.34" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OxyPlot" publicKeyToken="638079a8f0bd61e9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2013.1.74.1" newVersion="2013.1.74.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>